:root {
    --main-color: #3B2819;
    --background-color: #E0D6CD;
    --sub-background-color: #CFC1B1;
    --hover-color: #684227;
}

body {
    background: grey;
    color: white;
    padding: 5px 25px;
    font-family: Tahoma, Verdana, Geneva, sans-serif, 'Segoe UI'
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
}

#topicnav {
    padding-left: 250px;
    background-color: var(--sub-background-color);
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--main-color);
    display: block;
}

#topicnav a {
    padding: 8px 8px 8px 8px;
}

.sidenav a:hover {
    color: var(--hover-color);
}

#logo-anchor {
    padding: 8px 8px 8px 4px;
}

#logo {
    width: 75px;
    height: 75px;
    vertical-align: middle;
}

.page-content {
    padding-left: 250px;
}

.edit-page-content {
    padding-left: 500px;
}