:root {
    --main-color: #3B2819;
    --background-color: #E0D6CD;
    --sub-background-color: #CFC1B1;
    --hover-color: #684227;
}

body {
    background: grey;
    color: white;
    padding: 5px 25px;
    font-family: Tahoma, Verdana, Geneva, sans-serif, 'Segoe UI'
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    overflow-x: hidden;
}

#topicnav {
    padding-left: 250px;
    background-color: var(--sub-background-color);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--main-color);
    display: block;
}

.sidenav a:hover {
    color: var(--hover-color);
}

.topicdiv {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.topic {
    grid-column: 1;
    width: 150px;
    max-width: 150px;
    overflow-wrap: break-word;
}

.modify-buttons {
    position: relative;
    grid-column: 2;
    font-size: 0;
}

.edit-button {
    z-index: 2;
    left: -60px;
}

.delete-button {
    left: -35px;
    margin-left: 0;
}

.edit-button,
.delete-button {
    position: absolute;
    top: -25px;
}

.edit-button img,
.delete-button img {
    vertical-align: middle;
}

.topicdiv:hover .icon {
    opacity: 1;
    transition: 0.3s opacity;
}

.icon {
    opacity: 0;
    width: 20px;
    height: 20px;
    vertical-align: center;
}

.page-content {
    padding-left: 250px;
}

.edit-page-content {
    padding-left: 500px;
}

#add-new-topic {
    text-align: center;
}

#logo-anchor {
    padding: 8px 8px 8px 4px;
}

#logo {
    width: 75px;
    height: 75px;
    vertical-align: middle;
}